<% include header %>

<body id="fbLoggedinPage">

  <header id="header" class="header">
    <div class="container widthKeeper">
      <div class="left"></div><div class="right"></div>
    </div><!-- /container -->
  </header><!-- /header -->

  <div class="contents widthKeeper">
    <div class="container">
      <img class="logo" src="/resources/images/logo.png" alt="">
      <img class="fbProfileUpdatedText" src="/resources/images/text_profile_updated.png"alt="">
      <img class="chatAttentionText" src="/resources/images/text_chat_attention.png" alt="">
    </div><!-- /container -->
  </div><!-- /contents -->

  <div class="footer" data-position="fixed">
    <div class="container widthKeeper">
      <a href="/message/<%= id %>" class="btnGoChat bottomBtn">
        <img class="btnGoChatImg" src="/resources/images/btn_go_chat.png" alt="">
      </a>
    </div><!-- /container -->
  </div><!-- /footer -->

  <% include scripts %>
</body>
</html>