<% include header %>

<body id="fbLoginPage">

  <header id="header" class="header">
    <div class="container widthKeeper">
      <div class="left"></div><div class="right"></div>
    </div><!-- /container -->
  </header><!-- /header -->

  <div class="contents widthKeeper">
    <div class="container">
      <img class="logo" src="/resources/images/logo.png" alt="">
      <img class="fbLoginText" src="/resources/images/text_lets_fb_login.png" alt="">
    </div><!-- /container -->
  </div><!-- /contents -->

  <div class="footer" data-position="fixed">
    <div class="container widthKeeper">
      <a href="/auth/facebook" class="fbBtn bottomBtn">
        <img class="fbBtnImg" src="/resources/images/btn_fb_login.png" alt="">
      </a>
    </div><!-- /container -->
  </div><!-- /footer -->

  <% include scripts %>
</body>
</html>
