<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メッセージ</title>
</head>
<body>
  <h1>メッセージ</h1>
  <div id="messages"></div>
  <button id="comment">コメント</button>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
  var id = "<%= id %>"
  var loginUser = "<%= loginUser %>"
  var guestUser = "<%= guestUser %>"
  </script>
  <script type="text/javascript" src="/js/message.js"></script>
</body>
</html>
