<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>otoshimono</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=medium-dpi">
<link href="/resources/css/reset.css" rel="stylesheet">
<link href="/resources/css/style.css" rel="stylesheet">
</head>

<body id="profilePage">

  <header id="header" class="header">
    <div class="container widthKeeper">
      <div class="left"></div><div class="right"></div>
    </div><!-- /container -->
  </header><!-- /header -->

  <div class="contents widthKeeper">
    <div class="container">
      <img class="profile" src="/resources/images/profile.jpg" alt="">
      <p class="ownerName"><%= id %></p>
      <img class="fbProfileMessageText" src="/resources/images/text_profile_message.png" alt="">
    </div><!-- /container -->
  </div><!-- /contents -->

  <div>
    <form action="/profile/finder" method="post">
      <p><input type="text" name="name"></p>
    </form>
    <!-- こんな感じでsubmitしてくれれば /messaage にリダイレクトします -->
  </div>

  <div class="footer">
    <div class="container widthKeeper">
      <a href="/message/<%= id %>" class="btnGoChat bottomBtn">
        <img class="btnGoChatImg" src="/resources/images/btn_go_chat.png" alt="">
      </a>
    </div><!-- /container -->
  </div><!-- /footer -->

</body>
</html>
