<% include header %>

<body id="profilePage">

  <header id="header" class="header">
    <div class="container widthKeeper">
      <div class="left"></div><div class="right"></div>
    </div><!-- /container -->
  </header><!-- /header -->

  <div class="contents widthKeeper">
    <div class="container">
      <img class="profile" src="/resources/images/profile.jpg" alt="">
      <p class="ownerName"><%= id %></p>
      <img class="fbProfileMessageText" src="/resources/images/text_profile_message.png" alt="">
    </div><!-- /container -->
  </div><!-- /contents -->

  <div>
    <form action="/profile/finder" method="post">
      <p><input type="text" name="name"></p>
    </form>
    <!-- こんな感じでsubmitしてくれれば /messaage にリダイレクトします -->
  </div>

  <div class="footer" data-position="fixed">
    <div class="container widthKeeper">
      <a href="/message/<%= id %>" class="btnGoChat bottomBtn">
        <img class="btnGoChatImg" src="/resources/images/btn_go_chat.png" alt="">
      </a>
    </div><!-- /container -->
  </div><!-- /footer -->

  <% include scripts %>
</body>
</html>
