* {
    word-break: break-all;
}

body, p {
  margin: 0;
  padding: 0;
  height: 100%;
}


/* 幅制御
-------------------------------------------------- */
.widthKeeper {
  margin-left:auto;
  margin-right:auto;

  max-width: 640px;
}


/* ヘッダー
-------------------------------------------------- */
.header .left {
  width: 50%;
  height: 20px;
  background-color: #e71a19;
  float: left;
}

.header .right {
  width: 50%;
  height: 20px;
  float: right;
  background-color: #dcdddd;
}

.header .container {
  clear:both;
  height: 20px
}


/* メインコンテンツ
-------------------------------------------------- */
.contents {
}

.contents .container {
  width: 100%;
  height: 500px;
}

.contents .container .logo {
  width: 105px;
  display: block;
  margin: 40px auto;
}


/* フッター
-------------------------------------------------- */
.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
}

.footer .container .bottomBtn{
  display: block;
  height: 70px;
}

.footer .container .btnGoChat{
  background-color: #e71a19;
}

.footer .container .btnGoChatImg {
  width: 200px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* ログインページ
-------------------------------------------------- */
#fbLoginPage .contents .container .fbLoginText {
  width: 200px;
  display: block;
  margin: 50px auto;
}

#fbLoginPage .footer .container .fbBtn{
  background-color: #3c5a98;
}

#fbLoginPage .footer .container .fbBtnImg {
  width: 215px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* ログイン済みページ
-------------------------------------------------- */
#fbLoggedinPage .contents .container .fbProfileUpdatedText {
  width: 200px;
  display: block;
  margin: 50px auto;
}

#fbLoggedinPage .contents .container .chatAttentionText {
  width: 200px;
  display: block;
  margin: 30px auto;
}


/* プロフィールページ
-------------------------------------------------- */
#profilePage .contents .container .profile {
  width: 120px;
  display: block;
  margin: 30px auto;
}

#profilePage .contents .container .ownerName {
  text-align: center;
}

#profilePage .contents .container .fbProfileMessageText {
  width: 222px;
  display: block;
  margin: 30px auto;
}


/* メッセージページ
-------------------------------------------------- */
#messagePage .header .userInfo {
  width: 50%;
  height: 50px;
  font-weight: bold;
  overflow: hidden;
}

#messagePage .header .owner {
  background-color: #dcdddd;
  color: #e71a19;
}

#messagePage .header .finder {
  background-color: #ffbaba;
}

#messagePage .header .icon {
  width: 50px;
  float: left;
}

#messagePage .header .name {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  padding: 0 5px;
}

#messagePage .header .container {
  height: 50px;
}

#messagePage #messageArea {
  width: 100%;
}

#messagePage #messageArea tr.last {
  height: 120px;
}

#messagePage #messageArea .icon {
  width: 70px;
}

#messagePage #messageArea .icon img {
  width: 50px;
  margin: 10px;
}

#messagePage #messageArea td.message {
  vertical-align: middle;
}

#messagePage #messageArea td.fukidashi {
  width: 10px;
  background-repeat: no-repeat;
  background-size: 10px 12px;
  background-position: 0px 30px;
}

#messagePage #messageArea .owner .fukidashi {
  background-image: url(/resources/images/fukidashi_arrow_gray.png);
}

#messagePage #messageArea .finder .fukidashi {
  background-image: url(/resources/images/fukidashi_arrow_red.png);
}

#messagePage #messageArea .finder td.message p {
  float: right;
}

#messagePage #messageArea .finder td.message p:after {
  clear: both;
}

#messagePage #messageArea .message p {
  max-width: 70%;
  margin: 10px 0;
  padding: 5px 10px 5px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#messagePage #messageArea .owner .message p {
  background-color: #dcdddd;
}

#messagePage #messageArea .finder .message p {
  background-color: #ffbaba;
}

#messagePage #messageArea .message:after {
  clear: both;
}

#messagePage .footer {
  height: 100px;
}

#messagePage .footer .container .textArea {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid #e71a19;
}

#messagePage .footer .container .sendBtn {
  background-color: #e71a19;
}

#messagePage .footer .container .sendBtnImg {
  width: 49px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -6px;
}